*.o
*.lo
.deps/
.libs/
Makefile
Makefile.in
acinclude.m4
aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libVITA49.la
libVITA49.pc
libVITA49.spd.xml
libtool
ltmain.sh
missing
