*.o
*.lo
.deps/
.libs/
Makefile
Makefile.in
acinclude.m4
aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libVITA49_v1.la
VITA49_v1.pc
VITA49_v1.spd.xml
libtool
ltmain.sh
missing
