/*
 * This file is protected by Copyright. Please refer to the COPYRIGHT file
 * distributed with this source distribution.
 *
 * This file is part of REDHAWK.
 *
 * REDHAWK is free software: you can redistribute it and/or modify it
 * under the terms of the GNU Lesser General Public License as published by the
 * Free Software Foundation, either version 3 of the License, or (at your
 * option) any later version.
 *
 * REDHAWK is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Lesser General Public License
 * for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with this program.  If not, see http://www.gnu.org/licenses/.
 */

body       { font-family: arial, helvetica, sans-serif; font-size: 10pt; }
h1         { font-family: arial, helvetica, sans-serif; font-size: 18pt; line-height: 100%; font-weight: bold; color: #990033; text-align: center; }
h2         { font-family: arial, helvetica, sans-serif; font-size: 16pt; line-height: 100%; font-weight: bold; color: #003399; padding-left: 0em; }
h3         { font-family: arial, helvetica, sans-serif; font-size: 14pt; line-height: 100%; font-weight: bold; color: #003399; padding-left: 2em; }
h4         { font-family: arial, helvetica, sans-serif; font-size: 12pt; line-height: 200%; font-weight: bold; color: #003399; padding-left: 4em; }
h5         { font-family: arial, helvetica, sans-serif; font-size: 10pt; line-height: 100%; font-weight: bold;                 padding-left: 6em; }
p          { font-family: arial, helvetica, sans-serif; font-size: 10pt; }
td         { font-family: arial, helvetica, sans-serif; font-size: 10pt; }
ul         { font-family: arial, helvetica, sans-serif; font-size: 10pt; }
ol         { font-family: arial, helvetica, sans-serif; font-size: 10pt; }
li         { font-family: arial, helvetica, sans-serif; font-size: 10pt; }
blockquote { font-family: arial, helvetica, sans-serif; font-size: 10pt; }
pre        { font-family: "courier new", monospace;     font-size: 10pt; color: #990033; }
samp       { font-family: "courier new", monospace;     font-size: 10pt; color: #990033; }
code       { font-family: "courier new", monospace;     font-size: 10pt; color: #990033; }
tt         { font-family: "courier new", monospace;     font-size: 10pt;                }
dl         { font-family: arial, helvetica, sans-serif; font-size: 10pt; margin: 0pt 10pt 5pt 10pt; }
dt         { font-family: arial, helvetica, sans-serif; font-size: 10pt; margin-top: 5pt; }
dd         { font-family: arial, helvetica, sans-serif; font-size: 10pt; }
.blue      { color: #00008b; }
.red       { color: #8b0000; }
